# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Autobackup files (ones ending in ~)
*~

# libtcod assets (some are symlinks)
libtcod*
